/* CSS Document */
/* noa bos 201 500791864 */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/****************/
/* BASICS */
/****************/

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #FBFAF4;
    margin: 0;
    font-family: Helvetica, sans-serif;
    max-width: 100%;
    background-color: #FBFAF4;
    max-width: 100%;
}

@media (max-width: 37.5em) {
    body {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    html {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Is voor de witte titel in zwarte vlak deze moet wit zijn & onder elkaar*/

h3 {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #fff;
    margin-top: 0.6em;
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    padding-left: 0.6em;
    width: 0.6em;
    text-decoration: none;
}

/* is voor alle roze titels; deze moet roze zijn */

h2 {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #FF9F9F;
    margin-top: 0.6em;
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    padding-left: 0.6em;
    max-width: 70%;
    text-decoration: none;
}

/* simpele titel voor het product */

h6 {
    text-decoration: none;
    letter-spacing: 0.09em;
    color: #fff;
    font-size: 0.9em;
    position: relative;
    top: -1.1em;
    font-weight: 500;
    text-decoration: none;
}

/* simpele onder titel voor het product */

h5 {
    font-family: 'Times New Roman', sans-serif;
    text-decoration: none;
    letter-spacing: 0.09em;
    color: rgba(255, 255, 255, 0.53);
    font-size: 1em;
    position: relative;
    top: -2.5em;
    font-weight: 500;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #061B6A;
}

/****************/
/*NAVIGATIE */
/****************/

.search {
    max-width: 1%;
    height: auto;
    position: relative;
    left: 85%;
    top: -1.3em;
}

input {
    display: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    display: table;
    position: relative;
    left: 15%;
    top: 0.6em;
}


nav ul {
    list-style: none;
    display: flex;
    position: relative;
    padding-left: 25em;
}

nav ul li a {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #061B6A;
    margin-top: 0.6em;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    position: relative;
    margin: 6.25em;
    width: 6.25em;
    margin: 0em;
    display: inline-block;

}

.filter img {
    width: 100%;
}


/****************/
/*NAVIGATIE VIERKANTJE*/
/****************/


.nav-toggler-blue {
    display: none;
}

.nav-toggler {
    display: none;
}


.logo {
    width: 8em;
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    position: relative;
    left: 0.6em;
    top: 2.5em;

}

@media only screen and (max-width: 37.5em) and (max-width: 48em) {
    .logo {
        visibility: visible;
        position: relative;
        width: 35%;
        left: 35%;
        margin: 0;
        padding: 0;
        top: 0em;
    }
}

a {
    text-decoration: none;
    color: #061B6A;
}

.nav-toggler-blue {
    border: 0.19em solid #061B6A;
    background-color: #061B6A;
    cursor: pointer;
    height: 1.5em;
    width: 0.19em;
    position: relative;
    z-index: 4;
    display: none;
    left: -1.56em;
    margin-top: 1.25em;
}

.nav-toggler:focus {
    background-color: white;
}

.nav-toggler {
    border: 0.1875em solid #FF9F9F;
    background-color: rgba(6, 27, 106, 0);
    cursor: pointer;
    height: 1.56em;
    width: 0.06em;
    display: none;
    z-index: 5;
    margin-top: 1.25em;
    border-radius: 1%;
}

header {
    background-color: #FBFAF4;
    position: relative;
    top: -1.25em;
}

.search {
    display: block;
    position: relative;
    top: -0.3em;
    left: 4em;
    max-width: 35%;
    height: auto;
}


@media screen and (max-width: 50em) {
    .nav-toggler-blue {
        position: absolute;
        top: 15%;
        left: 2%;
    }

    .nav-toggler {
        position: absolute;
        top: 12%;
        left: 0%;
    }

    .nav-toggler-blue {
        position: absolute;
        top: 15%;
        left: 2%;
    }
}

nav ul.open {
    animation: 1s down-open;
}

/****************/
/*ANIMATIE DROPDOWN MENU*/
/****************/

@keyframes down-open {
    0% {
        clip-path: inset(0 0 100% 0);
    }

    100% {
        clip-path: inset(0);
    }
}
    nav {
        min-height: 5em;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: -2%;
    }



/****************/
/* SEARCH BAR POP UP*/
/****************/

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 1.25em;
    top: 1.25em;
    height: 3.1em;
    width: 3.1em;
    text-align: center;
    line-height: 3.1em;
    border-radius: 50%;
    font-size: 1.25em;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: rgba(251, 250, 244, 0);
}


@media (max-width: 37.5em) {
        nav ul li a {
        font-size: 1em;
        margin: 0.6em;
        position: relative;
        left: 2.5em;
        top: 7.5em;
    }

    .nav-toggler-blue {
        display: block;
        width: 1.25em;
    }

    .nav-toggler {
        display: block;
        width: 1.25em;
    }

    nav ul.open {
        max-height: 100vh;
        top: -1em;
        background-color: #FF9F9F;
        transition: .5s;
        display: block;
    }

    nav ul {
        position: fixed;
        height: calc(100vh);
        flex-direction: column;
        z-index: 2;
        padding: 20%;
        width: 100vw;
        left: 0em;
        right: 0em;
        bottom: -1.25em;
        display: none;
        margin-top: 1em;
    }

    nav {
        min-height: 5em;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: -2%;
    }

    .menu-btn {
        position: absolute;
        z-index: 3;
        right: 1.25em;
        top: 1.25em;
        height: 3.1em;
        width: 3.1em;
        text-align: center;
        line-height: 3.1em;
        border-radius: 50%;
        font-size: 1.25em;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background-color: rgba(251, 250, 244, 0);
    }

    .wrapper ul li a {
        text-decoration: none;
        font-size: 1.8em;
        font-weight: 500;
        padding: 0.3em 1.8em;
        color: #fff;
        position: relative;
        line-height: 3.1em;
        transition: all 0.3s ease;
    }
}

/****************/
/*BANNER SLIDER*/
/****************/

.slideshow-container h4:nth-of-type(1) {
    position: relative;
    left: -0.7em;
    font-size: 1.6em;
    font-weight: 200;
    text-align: left;
    width: 14em;
}

.slideshow-container h2:nth-of-type(1) {
    font-size: 0.8em;
    letter-spacing: 0.08em;
}

.slideshow-container img {
    width: 100vw;
}

.slideshow-container {
    max-height: 30%;
    position: relative;
    margin: auto;
}

/****************/
/*BLOG*/
/****************/

.blog {
    background-color: white;
}

p:nth-of-type(1) {
    font-size: 0.9em;
    text-align: center;
}

p:nth-of-type(3) {
    color: #A1ACC8;
    margin-left: auto;
    margin-right: 1em;
    width: 8em;
    font-size: 0.9em;
    position: relative;
    top: -3.4em;
    text-align: center;
}

p:nth-of-type(2) {
    text-align: left;
    padding-left: 1.8em;
}

h4:nth-of-type(1) {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.3em;
    color: #061B6A;
    text-align: center;
    margin: 0em;
    padding: 0.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-weight: 200;
}

aside {
    width: 0.2em;
    height: 0.2em;
    background: #FF9F9F;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -1.5em;
}

.rondjeroze {
    width: 0.2em;
    height: 0.2em;
    background: #FF9F9F;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: 11em;
    position: relative;
    top: -1.5em;
}

.blog1 {
    background-color: white;
}

.blogpost {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 90%;
    max-width: 31.3em;
    height: auto;
    margin: auto;

}

.apart li h4:first-of-type {
    text-align: left;
}

.apart li p:first-of-type {
    text-align: left;
    padding-left: 1.6em;
}

.apart li p:nth-last-of-type(2) {
    text-align: left;
}

.apart li p:nth-last-of-type(1) {
    position: relative;
    left: -3.1em;
}

/****************/
/* CAROUSEL CURRENT OBSESSIONS*/
/****************/

.pijl_obsessions {
    width: 15%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 5em;
    top: -4.4em;
}

.carousel {
    background-color: #000000;
    width: 100%
}

.content-slider {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.img-holder {
    max-width: 80%;
    display: block;
    position: relative;
    flex-shrink: 0;
    padding: 4%;
}

@media (max-width:80em) {
    .img-responsive {
        object-fit: cover;
        width: 100%;
    }

    .carousel a:nth-of-type(1) {
        color: #FF9F9F;
        display: inline-block;
        position: absolute;

        bottom: 7em;
        right: 1em;
    }
}
/****************/
/* FOOD & DRINKS*/
/****************/

.ontop {
    position: relative;
    top: -4.25em;
}

/****************/
/* DETAILPAGINA*/
/****************/

.filteroptie {
    color: rgba(6, 27, 106, 0.59);
    font-family: 'Times New Roman', sans-serif;
    padding: 1.25em;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    display: inline-block;
    font-size: 1.25em;
}

.active {
    color: #061B6A;
}

.photo-list {
    display: grid;
    grid-template-rows: auto;
    grid-row: 1;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s linear 0.5s;
}

.unvisible  {
    visibility: hidden;
}

.footer{
    padding: 20em;
}

.filter visible p :nth-of-type(1) {
    color: #061B6A;
}

p {
    color: #061B6A;
}

.shopwithus{
   padding: 20em;
}
/****************/
/* FOOTER*/
/****************/
footer {
    background-color: #FF9F9F;
    margin: 0em;
    height: 25em;
    position: relative;
    bottom: 0em;
}

.wit {
    color: #fff;
    font-weight: 100;
    margin-left: 0em;
    padding: 0.8em;
}

.witt p {
    color: rgba(255, 255, 255, 0.54);
    font-weight: 100;
    padding: 0em;
    margin-left: 0em;
    display: block;
    text-align: left;
    padding: 0.6em;
}

.wit li a {
    margin: 0 0 0.7em 0;
    padding: 1.25em;
}

.footerlijstje li {
    margin: 0.9em 0;
}

.footerlijstje .anderekant {
    display: table;
    margin: 0 auto;
    position: relative;
    top: -4.2em;
}

input[type=text],
select,
textarea {
    width: 80%;
    height: 20%;
    margin-left: 0.6em;
    border: none;
    background-color: #FF9F9F;
    font: inherit;
    color: white;
    border-bottom: 0.06em solid white;
    position: relative;
    top: 1em;
}

::placeholder {
    color: white;
    font-size: 1em;
    font-weight: 100;
}

form button {
    background-color: #fff;
    padding: 1em;
    color: #FF9F9F;
    border: none;
    font-size: 1em;
    position: absolute;
    right: 0.5em;
    bottom: 6.0em;
}


/****************/
/* ANIMATIE NANA*/
/****************/
figure.nana_yay h2 {
    width: auto;
    transform-origin: center bottom;
    animation-name: yay-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}


figure.nana_yay:hover h2 {
    animation-play-state: running;
}

.nana_yay {

    margin: 0em;
}

@keyframes yay-animation {
    0% {
        transform: none;
    }

    10% {
        transform: scale(1.2, .8);
    }

    30% {
        transform: scale(1.3, .7);
    }

    40% {
        transform: scale(.9, 1.1);
    }

    50% {
        transform: none;
    }

    100% {
        transform: none;
    }
}

/****************/
/* ANIMATIE BOKJES*/
/****************/


.roze {
    width: 1.2em;
    height: 1.2em;
    background: #FF9F9F;
    position: relative;
    left: -1.25em;
    animation: joejoe 3s ease-in-out 4s, hartslag 3s ease infinite alternate;
    text-align: left;
}


@keyframes joejoe {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }

    60% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hartslag {

    0%,
    100% {
        background-color: #061B6A;
    }

    50% {
        background-color: #ffd6d6;
    }
}


/****************/
/* ANIMATIE PIJL*/
/****************/
@keyframes swinging {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(20deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(20deg);
    }
}

.pijl_obsessions {
    transform-origin: 50% 0;
    animation: swinging 3.5s ease-in-out forwards infinite;
}


/****************/
/* ANIMATIE UNDERLINE*/
/****************/

.wit:after {
    position: absolute;
    content: '';
    bottom: -0.1em;
    left: 0em;
    height: 0.1em;
    width: 0%;
    animation: underline 2s ease-in-out 2s infinite;
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.wit {
    position: relative;
}

.wit::after {
    content: ' ';
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 0.06em;
    background: white;
    animation-name: underline;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}


/****************/
/* ANIMATIE SEND KNOP*/
/****************/

.btn {

    animation: rotate 5s;
    transform: rotate(360deg);
    transition: 0.9s all;

}

@keyframes rotate {
    0% {
        transform: rotate(0.1turn);
    }

    10% {
        transform: rotate(0.3turn);
    }

    30% {
        transform: rotate(0.5turn);
    }

    40% {
        transform: rotate(0.7turn);
    }

    100% {
        transform: rotate(0.3turn);
    }
}

/****************/
/*ANIMATIE SLIDER*/
/****************/
.fade {
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 3
    }
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 3
    }
}


/****************/
/* EINDE*/
/****************/
